{% extends '@admin/admin.html.twig' %}

{% block body %}

<div class="page-header">
	<h1>
		Form Elements
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{{ title }}
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<!--<form class="form-horizontal" role="form">-->
		{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
			{% if form_errors %}
            <ul>
                <li>{{ form_errors }}</li>
            </ul>
            {% endif %}

			<div class="form-group">
				{{ form_label(form.role_name, form.role_name, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-9">
					{{ form_widget(form.role_name, {'attr': {'class': 'col-xs-10 col-sm-5','placeholder': 'Value'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.role_status, form.role_status, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-2">
					{{ form_widget(form.role_status, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3 control-label no-padding-right">Lists Modules For Roles Type </div>
				{% set checked = 1 %}
				{% form_theme form _self %}

				{% block checkbox_widget %}
					{% spaceless %}
					<div class="col-sm-9">
						{% if lists_modules is not empty %}
							<!--<label class="col-sm-3 control-label no-padding-right required" role="form-field-1" for="form_role_name">Module Name</label>
							<div class="col-sm-2">
								<input type="checkbox" name="role_type[]" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
							</div>-->
							{% for key,module in lists_modules %}
								<table border="1" cellpadding="0" cellspacing="0" width="15%" align="left" style="margin:0 3% 2% 0;">
									<tr>
										<td colspan="2" style="font-weight: bold;font-size: 16px;text-align: center;">{{ module.module_name }}</td>
									</tr>
									<tr>
										<td width="80%">View</td>
										<td width="30%" align="center"><input type="checkbox" name="role_type[{{ module.id }}][view]" {% if module.view %}checked="checked"{% endif %} /></td>
									</tr>
									<tr>
										<td width="80%">Add New</td>
										<td width="30%" align="center"><input type="checkbox" name="role_type[{{ module.id }}][add]" {% if module.add %}checked="checked"{% endif %} /></td>
									</tr>
									<tr>
										<td width="80%">Edit</td>
										<td width="30%" align="center"><input type="checkbox" name="role_type[{{ module.id }}][edit]" {% if module.edit %}checked="checked"{% endif %} /></td>
									</tr>
									<tr>
										<td width="80%">Delete</td>
										<td width="30%" align="center"><input type="checkbox" name="role_type[{{ module.id }}][delete]" {% if module.delete %}checked="checked"{% endif %} /></td>
									</tr>
								</table>
							{% endfor %}
						{% endif %}
					</div>

					{% endspaceless %}
				{% endblock checkbox_widget %}
			</div>



			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<!--<button class="btn btn-info" type="button">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Submit
					</button>-->

					{{ form_widget(form.send, {'attr': {'class': 'btn btn-info'}}) }}

					&nbsp; &nbsp; &nbsp;
					<a href="{{ path('admincp_system_roles_page') }}" class="btn" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Back
					</a>
				</div>
			</div>

		{{ form_end(form) }}

		
		</div><!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->


{% endblock %}
