{% extends '@admin/admin.html.twig' %}

{% block body %}

<div class="page-header col-xs-12">
	<div class="col-xs-6">
		<h1>
			Tables
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				Static &amp; Dynamic Tables
			</small>
		</h1>
	</div>
	<div class="col-xs-1 pull-right span6">
		<a href="{{ path('admincp_system_modules_edit_page', {'id': 0}) }}" class="btn btn-app btn-primary no-radius">
			<i class="ace-icon fa fa-pencil-square-o bigger-160"></i>
			Add New
		</a>
	</div>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">

			<div class="col-xs-12">

				<!-- div.table-responsive -->

				<!-- div.dataTables_borderWrap -->
				<div>
					<div class="row">
						<div class="col-xs-6">
							<div class="dataTables_length" id="dynamic-table_length">
								<label>Display<select name="dynamic-table_length" aria-controls="dynamic-table" class="form-control input-sm">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
									</select> records</label>
							</div>
						</div>

						<div class="col-xs-5">
							<div id="dynamic-table_filter" class="dataTables_filter">
								<label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="dynamic-table"></label>
							</div>
						</div>

						<div class="col-xs-1">
							<div class="pull-right tableTools-container">
								<div class="btn-group">
									<button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
										Report
										<i class="ace-icon fa fa-angle-down icon-on-right"></i>
									</button>

									<ul class="dropdown-menu">
										<li>
											<a href="#">Export Excel</a>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>

					<table id="dynamic-table" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">
									<label class="pos-rel">
										<input type="checkbox" class="ace" />
										<span class="lbl"></span>
									</label>
								</th>
								<th>Module Name</th>
								<th>Module Alias</th>
								<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">
									<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
									Updated date
								</th>
								<th class="hidden-480">Status</th>

								<th></th>
							</tr>
						</thead>

						{% if results is not empty %}
						<tbody>

							{% for key,value in results %}
							<tr>
								<td class="center">
									<label class="pos-rel">
										<input type="checkbox" class="ace" />
										<span class="lbl"></span>
									</label>
								</td>

								<td>{{ value.module_name }}</td>
								<td>{{ value.module_alias }}</td>
								<td>{{ value.updated_date }}</td>

								<td class="hidden-480">
									<span class="label label-sm {{ value.module_status ? 'label-success' : 'label-warning' }}">{{ value.module_status ? 'Publish' : 'Unpublish' }}</span>
								</td>

								<td>
									<div class="hidden-sm hidden-xs action-buttons">
										<!--<a class="blue" href="#">
											<i class="ace-icon fa fa-search-plus bigger-130"></i>
										</a>-->

										<a class="green" href="{{ path('admincp_system_modules_edit_page', {'id': value.id}) }}">
											<i class="ace-icon fa fa-pencil bigger-130"></i>
										</a>

										<a class="red" href="{{ path('admincp_system_modules_delete_page', {'id': value.id}) }}">
											<i class="ace-icon fa fa-trash-o bigger-130"></i>
										</a>
									</div>

									<div class="hidden-md hidden-lg">
										<div class="inline pos-rel">
											<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
												<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
											</button>

											<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
												<li>
													<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
														<span class="blue">
															<i class="ace-icon fa fa-search-plus bigger-120"></i>
														</span>
													</a>
												</li>

												<li>
													<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
														<span class="green">
															<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
														</span>
													</a>
												</li>

												<li>
													<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
														<span class="red">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>

							{% endfor %}

						</tbody>

						{% endif %}

					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">

					<!--Pagination -->
					{{ pagination | raw }}
					<!--END Pagination -->

				</div>
			</div>
		</div>

	</div><!-- /.col -->
</div><!-- /.row -->

{% endblock %}