{% extends '@admin/admin.html.twig' %}

{% block body %}

<div class="page-header">
	<h1>
		Form Elements
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{{ title }}
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-10">
		<!-- PAGE CONTENT BEGINS -->
		<!--<form class="form-horizontal" role="form">-->
		{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
			{% if form_errors %}
            <ul>
                <li>{{ form_errors }}</li>
            </ul>
            {% endif %}
			<div class="form-group">
				{{ form_label(form.category_id, form.category_id, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-2">
					{{ form_widget(form.category_id, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.title, form.title, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-7">
					{{ form_widget(form.title, {'attr': {'class': 'col-xs-10 col-sm-5','placeholder': 'Value'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.image, form.image, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-3">
					{{ form_widget(form.image, {'attr': {'class': '','placeholder': 'Value'}}) }}
				</div>
				<div class="col-sm-4">
					<img src="{{ asset('uploads/' ~ fields_value.image) }}" width="100" height="100">
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.description, form.description, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-7">
					{{ form_widget(form.description, {'attr': {'class': 'col-xs-10 col-sm-5','placeholder': 'Value','rows' : '5'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.content, form.content, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-9">
					{{ form_widget(form.content, {'attr': {'class': 'col-xs-10 col-sm-5 ckeditor','placeholder': 'Value'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.status, form.status, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','role': 'form-field-1'}}) }}

				<div class="col-sm-2">
					{{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.tags, form.tags, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right','for': 'form-field-tags'}}) }}
				<div class="col-sm-9">
					<div class="inline">
						{{ form_widget(form.tags, {'attr': { 'placeholder': 'Enter tags ...'}}) }}
						<textarea class="list_tags hide">{{ list_tags }}</textarea>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right">Galleries</label>
				<div class="col-sm-7">
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title">Lists Images</h4>

							<div class="widget-toolbar">
								<a href="#" id="multi_uploads" class="btn">Select files</a>
								<a href="#" data-action="collapse">
									<i class="ace-icon fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								{{ form_widget(form.lists_thumb, {'attr': {'class': 'lists_thumb hide','data': 'lists_thumb'}}) }}

								{{ form_widget(form.lists_del_file, {'attr': {'class': 'lists_del_file hide','data': 'lists_del_file'}}) }}
								<div class="form-group" id="filelist">
									{% if list_galleries is not empty %}
										{% for key,value in list_galleries %}
											<div class="thumb_uploaded">
												<img src="{{ app.request.getBasePath() ~ '/uploads/' ~ value.file }}" class="img_uploaded" />
												<i class="icon-delete" data-value="{{ value.file }}" data-id="{{ value.id }}"></i>
											</div>

										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<!--<button class="btn btn-info" type="button">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Submit
					</button>-->

					{{ form_widget(form.send, {'attr': {'class': 'btn btn-info'}}) }}

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Reset
					</button>
				</div>
			</div>

		{{ form_end(form) }}

		
		</div><!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->

<link href="{{ asset('themes/admin/assets/js/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css') }}" rel="stylesheet">

<script type="text/javascript">
jQuery(function($) {
	AdminMain.Func._plupload_files("{{ path('admincp_upload_files')  }}", 'filelist', 'multi_uploads');
});
</script>

{% endblock %}


